body {
    overflow-x: hidden;
}

.btn {
    font-size: 14px;
    font-weight: 5%;
    color: white;
    border: 1px solid #232F3E;
}

.btn:hover {
    color: white;
    border: 1px solid white;
    border-radius: 2px;
}

.de {
    border: 1px solid black;
    border-radius: 2px;
}
.de:hover {
    border: 1px solid white;
    border-radius: 2px;
}
/* main */
.fshn{
    color: black; 
    text-decoration: none; 
    font-size: 14px;
}
.simg{
    height: 70px;
    width: 50px;
    border: 1px solid;
    border-radius: 3px;
    margin-top: 8px;
}
/* swiper js */
swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #444; */
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}